/* -------------------------- fonts import ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* ------------------------- common styles ------------------------- */
* {
    margin: 0;
}
body {
    font-family: 'Work Sans', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%; */
}
main {
    margin: 0 10%;
}
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 10px;
}

/* ------------------------- header styles ------------------------- */
header {
    background-color: #FF900E1A;
    padding: 2% 10%;
    text-align: center;
}

/* --------------------------nav bar styles ------------------------ */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    font-weight: 700;
    font-size: 45px;
}
.nav-buttons {
    display: flex;
    gap: 50px;
}
.nav-buttons p {
    font-weight: 500;
    font-size: 18px;
}

/* -------------------------- banner styles ------------------------- */
.banner-title {
    font-weight: 700;
    font-size: 64px;
    margin: 0 30%;
    margin-top: 80px;
    margin-bottom: 25px;
}
.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 0 20%;
}
.banner-button {
    margin-top: 25px;
    margin-bottom: 50px;
}
.banner-image img {
    width: 100%;
    height: auto;
}

/* --------------------- quick list section styles ------------------ */
.quick-list-section {
    display: flex;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 30px;
    gap: 73px;
    padding: 0 5%;
}
.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}
.quick-list-title {
    font-weight: 700;
    font-size: 45px;
}
.low-opacity-text {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}
.quick-list-title.highlighted-text {
    color: #FF900E;
}
.quick-list-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin: 25px 0;
}

/* ----------------------- features section styles -------------------- */
.features-section {
    margin: 100px 0;
}
.features {
    display: flex;
    gap: 150px;
}
.features h3::before {
    content: "";
    height: 90px;
    width: 4px;
    background-color: #FF900E;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}
.features-title {
    font-weight: 700;
    font-size: 45px;
}
.features-title-with-style {
    display: flex;
    align-items: center;
    gap: 30px;
}
.features-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.all-features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.single-feature {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    border-radius: 10px;
}
.single-feature-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.single-feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}
.ten-year-button {
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 45px;
    margin-left: 39.5%;
    margin-top: -7.5%;
    position: absolute;
}
.ten-year-button h2 {
    font-weight: 700;
    font-size: 65px;
}
.ten-year-button p {
    font-weight: 500;
    font-size: 25px;
}

/* ----------------------- facts section styles ----------------------- */
.facts-section {
    margin: 150px 0;
}
.facts-title {
    font-weight: 700;
    font-size: 45px;
}
.facts-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 100px;
    width: 40%;
}
.all-facts {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.single-fact {
    border: 1px solid #FF900E;
    border-radius: 10px;
    padding: 50px 35px;
}
.single-fact {
    background: linear-gradient(#FF900E 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
}
.single-fact:hover {
    --p: 100%;
    color: #fff;
}
.single-fact img {
    width: 45px;
}
.single-fact-title {
    font-weight: 600;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.single-fact-description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* ---------------------- sponsors section styles ----------------------- */
.sponsors-section {
    text-align: center;
    margin-bottom: 130px;
}
.sponsor-title {
    font-weight: 700;
    font-size: 45px;
}
.sponsor-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 50px;
}
.sponsors {
    display: flex;
    justify-content: space-between;
}

/* -------------------------- footer styles ------------------------------ */
footer {
    margin-bottom: 150px;
    text-align: center;
    background-color: #FFF4E7;
    margin-left: 10%;
    margin-right: 10%;
    padding: 40px 0;
    border-radius: 10px;
}
footer p {
    font-size: 20px;
    color: #424242;
}

/* --------------------- Responsive Device Layout ------------------------ */

/* --------------------------- Small Device ------------------------------ */
@media screen and (max-width: 688px) {
    nav {
        align-items: normal;
        margin-top: 10%;
    }
    .nav-buttons {
        flex-direction: column;
        text-align: right;
    }
    .nav-title {
        text-align: left;
        font-size: 200%;
    }
    .banner-title {
        font-size: 320%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .banner-description {
        margin-left: 10%;
        margin-right: 10%;
    }
    .quick-list-section {
        flex-direction: column-reverse;
        padding: 0 0;
    }
    .quick-list-images {
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-list-images img {
        width: 100%;
        height: auto;
    }
    .features {
        flex-direction: column;
        gap: 50px;
    }
    .features-image {
        width: 100%;
    }
    .features-image img {
        width: 100%;
        height: auto;
    }
    .features-title-with-style {
        align-items: normal;
    }
    .ten-year-button {
        display: none;
    }
    .all-facts {
        flex-direction: column;
        row-gap: 20px;
    }
    .facts-description {
        width: 100%;
        margin-bottom: 50px;
    }
    .sponsors {
        flex-direction: column;
        row-gap: 50px;
    }
    .sponsors img {
        width: 70%;
    }
    footer {
        margin-bottom: 50px;
    }
}

/* --------------------------- Medium Device ---------------------------- */
@media screen and (min-width: 689px) and (max-width: 992px) {
    nav {
        margin-top: 5%;
    }
    .nav-title {
        text-align: left;
    }
    .banner-title {
        margin-left: 0%;
        margin-right: 0%;
    }
    .banner-description {
        margin-left: 15%;
        margin-right: 15%;
    }
    .quick-list-section {
        flex-direction: column-reverse;
        padding: 0 0;
    }
    .quick-list-images {
        row-gap: 30px;
        column-gap: 30px;
    }
    .quick-list-images img {
        width: 100%;
    }
    .features {
        flex-direction: column;
        gap: 50px;
    }
    .features-image img {
        width: 100%;
    }
    .ten-year-button {
        margin-left: 5%;
        margin-top: -28%;
    }
    .facts-description {
        margin-bottom: 50px;
        width: 100%;
    }
    .all-facts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
    .sponsors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 50px;
    }
    footer {
        margin-bottom: 100px;
    }
}